
body{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.header{
    display: flex;
    justify-content: space-around;
}
.logo{
    margin: 16px 0;
}
nav li{
    display: inline;
    font-family: 'Manrope';
    padding: 0 20px;
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 28px;
}
.line{
    border: 0.5px solid #939191;
    display: inline;
    background-color: #939191;;
}
.imgnav{
    margin-left: 31px;
    margin-bottom: -12px;
}
.phone{
display: inline;
}
nav h1{
    font-family: 'Manrope';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
color: #1E1B1B;
opacity: 0.7;
display: flex;
 padding: 5px;
justify-content: flex-end;
margin: 0px;
 margin-left: 622px;
 margin-top: -68px;
}
nav h2{
    font-family: 'Manrope';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 175%;
color: #1E1B1B;
margin-top: 0px;
margin-left: 622px;
}
.homepage{
 padding: 30px;
}
.fintechimg{
    float: right;
    margin-top: -492px;
    margin-right: 231px;
}
.homepage h1{
    font-family: 'Manrope';
font-style: normal;
font-weight: 800;
font-size: 64px;
line-height: 84px;
letter-spacing: -0.03em;
width: 590px;
height: 252px;
color: #1E1B1B;
margin-left: 213px;
}
.orangebox{
    background: #FF6433;
border-radius: 12px;
width: 9%;
    margin-left: 213px;
    display: flex;
    justify-content: center;
    margin-bottom: 30px
}
.orangebox h2{
    font-family: 'Manrope';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 175%;
color: #FFFFFF;

}
   .clock-like{
    margin-left: 213px;
    padding: 5px;
   }
   .homepage p{
       margin-left: 266px;
       margin-top: -43px;
   }
.showcase{
    display: flex;
    justify-content: space-between;
    padding-bottom: 200px;
}
.left-text h1 {
    color: #1E1B1B;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 800;
    font-size: 85px;
    line-height: 76px;
    letter-spacing: -0.03em;
    width: 713px;
   height: 228px;
   margin-top: 280px;
   margin-left: 100px;
    }
    .left-text p{
width: 467px;
height: 56px;
font-family: 'Manrope';
font-style: normal;
font-weight: 600;
font-size: 22px;
line-height: 28px;
color: #1E1B1B;
opacity: 0.6;
margin-top: -60px;
margin-left: 100px;
    }
    .aside{
        text-align: center;
        margin-right: 630px;
        margin-top: 150px;
    }
    .circle1{
        background: #661CE7;
    border-radius: 50%;
    width: 55px;
    height: 52px;
    margin-right: 75px;
    }
    .circle1 h2{
        -webkit-text-fill-color: white;
        font-size: 42px;
        margin: 0;
    }
    .circle1 h3{
width: 175px;
height: 48px;
margin-left: 60px;
margin-top: -44px;
font-family: 'Manrope';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 48px;
letter-spacing: -0.03em;
color: #1E1B1B;
text-align: start;
    }
    .circle1 p{
width: 316px;
height: 96px;
margin-left: 60px;
margin-top: -44px;
font-family: 'Manrope';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 175%;
color: #1E1B1B;
opacity: 0.6;
text-align: start;
    }
    .line1{
width: 71px;
height: 0px;
margin-top: -61px;
margin-left: -10px;
border: 2px dashed #FF6433;
transform: rotate(90deg);

    }
    .circle2{
        background: #661CE7;
    border-radius: 50%;
    width: 55px;
    height: 52px;
    margin-top: 100px;
    }
    .circle2 h2{
        -webkit-text-fill-color: white;
        font-size: 42px;
        margin: 0;
    }
    .circle2 h3{
width: 300px;
height: 48px;
margin-left: 60px;
margin-top: -44px;
font-family: 'Manrope';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 48px;
letter-spacing: -0.03em;
color: #1E1B1B;
text-align: start;
    }
    .circle2 p{
width: 316px;
height: 96px;
margin-left: 60px;
margin-top: -44px;
font-family: 'Manrope';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 175%;
color: #1E1B1B;
opacity: 0.6;
text-align: start;
    }
    .line2{
width: 71px;
height: 0px;
margin-top: -61px;
margin-left: -10px;
border: 2px dashed #FF6433;
transform: rotate(90deg);

    }
    .circle3{
        background: #661CE7;
    border-radius: 50%;
    width: 55px;
    height: 52px;
    margin-top: 100px;
    }
    .circle3 h2{
        -webkit-text-fill-color: white;
        font-size: 42px;
        margin: 0;
    }
    .circle3 h3{
width: 308px;
height: 48px;
margin-left: 60px;
margin-top: -44px;
font-family: 'Manrope';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 48px;
letter-spacing: -0.03em;
color: #1E1B1B;
text-align: start;

    }
    .circle3 p{
width: 316px;
height: 96px;
margin-left: 60px;
margin-top: -44px;
font-family: 'Manrope';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 175%;
color: #1E1B1B;
opacity: 0.6;
text-align: start;
    }
    .service{
        background-color: #F2F2F2;   
        padding-bottom: 200px;
    }
    .service-text{
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .service-text h1{
        width: 154px;
        height: 36px;
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 36px;
        text-align: center;
        letter-spacing: -0.03em;
        color: #1E1B1B;
        margin: 0px;
    }
    .service-text h2{
width: 786px;
height: 152px;
font-family: 'Manrope';
font-style: normal;
font-weight: 800;
font-size: 58px;
line-height: 76px;
letter-spacing: -0.03em;
color: #1E1B1B;
margin: 0px;
padding-bottom: 50px;
}
.service-container{
display: flex;
flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.services-container{
width: 316px;
height: 232px;
display: grid;
justify-content: center;
justify-items: center;
align-content: center;
background:#fff;
margin: 5px 5px;
   
}
.services-container img{
    transform: matrix(-1, 0, 0, 1, 0, 0);  
}
.services-container p{
width: 129px;
height: 36px;
font-family: 'Manrope';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 36px;
letter-spacing: -0.03em;
color: #1E1B1B;
}
.services-container2{
width: 316px;
height: 232px;
background: #fff;
display: grid;
justify-content: center;
justify-items: center;
align-content: center;
margin: 5px 5px;
}
 .img1{
width: 24.61px;
height: 41.84px;
transform: matrix(1, 0, 0, -1, 0, 0);
}
.img2{
width: 12.3px;
height: 17.23px;
transform: matrix(1, 0, 0, -1, 0, 0);
margin-left: 14px;
margin-top: -29px;
}
.img3{
width: 9.19px;
height: 6.56px;
transform: matrix(1, 0, 0, -1, 0, 0);
margin-left: 38px;
margin-top: -41px;
}
.img4{
width: 14.93px;
height: 9.02px;
transform: matrix(1, 0, 0, -1, 0, 0);
margin-left: 47px;
margin-top: -34px;
}
.img5{
    width: 14.93px;
    height: 9.02px;
    transform: matrix(1, 0, 0, -1, 0, 0);
    margin-left: 47px;
margin-top: -25px;

}
.img6{
width: 14.93px;
height: 9.02px;
transform: matrix(1, 0, 0, -1, 0, 0);
margin-left: 47px;
margin-top: -15px;
}
.img7{
    width: 9.19px;
    height: 6.56px;
    transform: matrix(1, 0, 0, -1, 0, 0);
    margin-left: 38px;
margin-top: -8px;
}
.services-container2 p{
width: 149px;
height: 36px;
font-family: 'Manrope';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 36px;
letter-spacing: -0.03em;
color: #1E1B1B;
text-align: center;

}
.services-container3{
    display: grid;
    justify-content: center;
    justify-items: center;
    align-content: center;
    margin: 5px 5px;
width: 316px;
height: 232px;
background: #FF6433;
}
.img-1{
width: 46px;
height: 46px;
background: white;
}
.services-container3 p{
width: 149px;
height: 36px;
font-family: 'Manrope';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 36px;
text-align: center;
letter-spacing: -0.03em;
color: white;
}
.services-container4{

    width: 316px;
    height: 232px;
    display: grid;
justify-content: center;
justify-items: center;
align-content: center;
margin: 5px 5px;
    background: white;
    }
.img_1{

    width: 32.34px;
    height: 40.61px;
   
}
.img_2{
    position: absolute;
width: 10.78px;
height: 2.7px;
margin-left: -10px;
margin-top: 50px;
}
.services-container4 p{
width: 149px;
height: 36px;
left: 83px;
top: 104px;
font-family: 'Manrope';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 36px;
text-align: center;
letter-spacing: -0.03em;
color: black;
}
.services-container5{
    display: grid;
justify-content: center;
justify-items: center;
align-content: center;
margin: 5px 5px;
    width: 316px;
    height: 232px;
    
    background: white;

}
.services-container5 img{
width: 54.15px;
height: 38.32px;

}
.services-container5 p{
width: 115px;
height: 36px;
font-family: 'Manrope';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 36px;
text-align: center;
letter-spacing: -0.03em;
color: #1E1B1B;
}
.services-container6{
width: 316px;
height: 232px;
background: #fff;
display: grid;
justify-content: center;
justify-items: center;
align-content: center;
margin: 5px 5px;

}
.image1{
    width: 44px;
    height: 31.17px;
    
}
.image2{

width: 11px;
height: 5.5px;
margin-top: -38px;
margin-left: -23px;


}
.image3{
width: 11px;
height: 5.5px;
margin-top: -38px;
margin-left: 23px;


}
.services-container6 p{
width: 115px;
height: 36px;
font-family: 'Manrope';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 36px;
text-align: center;
letter-spacing: -0.03em;
color: #1E1B1B;
}
.services-container7{
width: 316px;
height: 232px;
background: #fff;
display: grid;
justify-content: center;
justify-items: center;
align-content: center;
margin: 5px 5px;

}
.services-container7 p{
width: 115px;
height: 36px;
font-family: 'Manrope';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 36px;
text-align: center;
letter-spacing: -0.03em;
color: #1E1B1B;
}
#img{

    width: 36.84px;
height: 46px;
    
}
.services-container8{
    display: grid;
justify-content: center;
justify-items: center;
align-content: center;
margin: 5px 5px;
width: 316px;
height: 232px;

background: #fff;

}
.services-container8 p{

width: 115px;
height: 36px;
font-family: 'Manrope';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 36px;
text-align: center;
letter-spacing: -0.03em;
color: #1E1B1B;
}
#img1{
    width: 46px;
    height: 46px;
}
.undertext h1{
font-family: 'Manrope';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 175%;
color: #1E1B1B;
float: right;
margin-right: 330px;
}
.arrow{
width: 52px;
height: 0px;
float: right;
margin-top: 25px;
margin-right: -230px;

}
.get-in-touch{
    box-sizing: border-box;
}
.car{
height: 502px;
float: left;
}
.orange{
width: 41%;
height: 502px;
background: #FF6433;
float: right;
position: absolute;
left: 368px;
display: flex;
justify-content: center;
}
.orange h1{
width: 547px;
height: 134px;
font-family: 'Manrope';
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 140%;
letter-spacing: -0.03em;
color: #FFFFFF;
margin-top: 113px;

}
.engine{
    position: absolute;
width: 44%;
height: 502px;
float: right;
right: 15px;
}
.stats{
background: #F2F2F2;
}
.stats-container{
    display: inline-flex;
    margin-left: 300px;
    justify-items: center;
    ;
}
.stats1{
    padding:0 80px
}
.stats2{
    padding:0 80px
}
.stats3{
    padding:0 80px
}
.stats4{
    padding: 0 80px
}


.stats1 h1{
width: 104px;
height: 76px;
font-family: 'Manrope';
font-style: normal;
font-weight: 800;
font-size: 58px;
line-height: 76px;
text-align: center;
letter-spacing: -0.03em;
color: #661CE7;
margin-bottom: 0px;
}
.stats1 p{
width: 131px;
height: 36px;
font-family: 'Manrope';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 36px;
letter-spacing: -0.03em;
color: #1E1B1B;
opacity: 0.7;
margin-top: 0px;
}
.stats2 h1{

width: 172px;
height: 76px;
font-family: 'Manrope';
font-style: normal;
font-weight: 800;
font-size: 58px;
line-height: 76px;
text-align: center;
letter-spacing: -0.03em;
color: #661CE7;
margin-bottom: 0px;
}
.stats2 p{
width: 177px;
height: 36px;
margin-top: 0px;
font-family: 'Manrope';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 36px;
letter-spacing: -0.03em;
color: #1E1B1B;
opacity: 0.7;
}
.stats3 h1{
    
width: 128px;
height: 76px;
margin-bottom: 0px;
font-family: 'Manrope';
font-style: normal;
font-weight: 800;
font-size: 58px;
line-height: 76px;
text-align: center;
letter-spacing: -0.03em;
color: #661CE7;
}
.stats3 p{
    
width: 162px;
height: 36px;
margin-top: 0px;
font-family: 'Manrope';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 36px;
letter-spacing: -0.03em;
color: #1E1B1B;
opacity: 0.7;
}
.stats4 h1{
    margin-bottom: 0px;
width: 152px;
height: 76px;
font-family: 'Manrope';
font-style: normal;
font-weight: 800;
font-size: 58px;
line-height: 76px;
text-align: center;
letter-spacing: -0.03em;
color: #661CE7;
}
.stats4 p{
width: 245px;
height: 36px;
margin-top: 0px;
font-family: 'Manrope';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 36px;
letter-spacing: -0.03em;
color: #1E1B1B;
opacity: 0.7;

}
.brand{
height: 611px;
background: white;
}
.brand-text{
    display: flex;
    justify-content: center;
}
.brand-text h1{
width: 362px;
height: 67px;
right: 800px;
top: 9px;
font-family: 'Manrope';
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 140%;
text-align: center;
letter-spacing: -0.03em;
color: #1E1B1B;

}
.brands1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    padding: 50px;
}
.brands2{
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    padding: 50px;

}
.brand1 h1{
    display: inline;   
}

.brand2 h1{
    display: inline;  
}

.brand-img2{
    margin-left: -2px;
    margin-bottom: 2.65%;
}
.brand3 h1{  
display: inline;
} 
.brand4 h1{
    display: inline; 
}
.brand5 h1{
    display: inline;
}

.brand6 h1{
    display: inline;  
}

.brand7 h1{
    display: inline;
}
.brand-image1{
    background: #1E1B1B;
}
.brand-image2{
    margin-left: -2px;
    margin-bottom: 2.65%;
}
.brand8 h1{  
    display: inline;
}
.brand9 h1{
    display: inline;
}
.brand10 h1{
    display: inline;
}
/*media queries*/
@media only screen and (max-width: 425px) {
.in-touch{
    display: flex;
}
.orange{
    width: 144%;
}
.engine{
    position: unset;
    float: none;
    width:41%;
}
    .service{
    padding-bottom: 50px;
}
.fintechimg{
    padding-right: 200px;
}
}
